<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem, laboriosam suscipit cum
      quod totam optio
      maiores voluptates excepturi, reiciendis temporibus nihil delectus. Natus mollitia vero placeat omnis?
      Exercitationem,
      consequuntur.</p>
    <a href="" class="btn btn-primary">Hola About </a>
  </div>
</div>