<div class="card">
  <div class="card-body">
    <h1>Node js</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem, laboriosam suscipit cum
      quod totam optio
      maiores voluptates excepturi, reiciendis temporibus nihil delectus. Natus mollitia vero placeat omnis?
      Exercitationem,
      consequuntur.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates molestiae ipsa iure voluptatem commodi,
      possimus dignissimos officiis id minima magni assumenda cupiditate quis velit. Minima pariatur animi iure eveniet
      fuga!</p>
    <a href="/note/add" class="btn btn-primary">Hola Home </a>
  </div>
</div>